<div class="card  my-3"  style="width: 100%;">
    <div class="contanier">
        <div class="row">
            <div class="col-md-2">
                <img class="mx-5 my-3" src="../../../assets/Images/doctorImages/doctorImage.jpg" style="border-radius: 50%; width:70%" alt="Card image cap">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">دكتور محمد علاء الدين </h5>
                    <p class="card-text">استشارى جراحة الفم والفكين</p>
               
                    <div class="mt-1 d-flex justify-content-between align-items-center">
                      <div>
                          <fa-icon class="ratingColor" [icon]="faStar"></fa-icon>
                          <fa-icon class="ratingColor" [icon]="faStar"></fa-icon>
                          <fa-icon class="ratingColor" [icon]="faStar"></fa-icon>
                          <fa-icon class="ratingColor" [icon]="faStar"></fa-icon>
                          <fa-icon class="ratingColor" [icon]="faStar"></fa-icon>
                      </div>
                  </div>
                  <br>
                  <p> دكتور  <span class="spanColor"> اسنان </span>  متخصص <span class="spanColor">فى جراحة وجه الفكين   </span> </p>
                  <p class="spanColor"> عيادة الرحمة الغربية </p>
                  <p>  <fa-icon class="spanColor" [icon]="faLocationDot"></fa-icon> طنطا :شارع الجيش </p>
                  <p>   <fa-icon class="spanColor" [icon]="faDollarSign"></fa-icon>  الكشف: <span class="spanColor">   300 فرنك  </span></p>
                   
                  <br>
                  <br>

                  <h6 class="bold">معلومات عن الطبيب</h6>
                  <p class="text-secondary">أخصائى أمراض الصدرية والقلب جامعةالملك و استشارى أمراض الصدر والحساسية كبار وأطفال وماجيستير ودكتوراه فى الصدر وعضو الأكادمية و جامعة الملك   </p>
                
                  </div>
            </div>
     
        </div>
    </div>
  
   

  </div>