button:hover{
    background-color: var(--search-color);
}
a{
    text-decoration: none;
    color: black;
}
a:active {
    background-color:  #099dff21;
}
.bgColor:hover{
    background-color:  #099dff21;
    border-radius: 5px;
    
}
.bgColor:hover a{
    color: var(--search-color);
}
fa-icon{
    font-size: 1.8rem;
    color: var(--search-color);
}
.btnStyle{
    color:var(--main-color);
    background-color:  #099dff21;;
}
.btnStyle:hover{
    color:var(--main-color);
    background-color:  #099dff21;;
}
/* .mat-tap-group{
    background-color: #099dff21;
    border-radius: 7px;

}

.mat-tab-label-active {
    color:var(--search-color);
}
.mat-mdc-tab {
    background-color: red!important ;
}
.mat-tab-label-active {
    color: red;
  } */
  .mat-mdc-tab-group.mat-mdc-tab-group-stretch-tabs>.mat-mdc-tab-header .mat-mdc-tab {
    flex-grow: 1;
    background-color: red !important;
}

.mat-mdc-tab {
    background-color: red !important ;
}
.mat-mdc-tab .mdc-tab__text-label {
    display: inline-flex;
    align-items: center;
    color: red;
    background-color: blue;
}
::ng-deep.mat-tab-label.mat-tab-label-active:not(.mat-tab-disabled),
::ng-deep.mat-tab-label.mat-tab-label-active.cdk-keyboard-focused:not(.mat-tab-disabled) {
  background-color: #FCE500;
  font-weight: 700;
  color: black;
  opacity: 1;
}