
<div class="card mainBorder my-3" style="width: 100%;">
  <div class="generalBGColor card-header mainBorder  ">
      <h4 class="card-title mainBorder  text-white">حدد بحثك</h4>
  </div>
  <div class="accordion mainBorder" id="accordionExample" >
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed text-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          &nbsp; تاريخ الحجز
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <mat-form-field>
            <input matInput [matDatepicker]="picker" [min]="minDate" [formControl]="date" (dateChange)="onDateChange($event)">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed text-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          المواعيد
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
        <mat-radio-group (change)="changeWorkPeriod($event)" [(ngModel)]="labelPosition2"  aria-label="Select an option">
           <mat-radio-button class="example-margin" *ngFor="let degree of workPeriods" [value]="degree.workingPeriodId">
            {{degree.name}}
          </mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button text-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          النوع
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <mat-radio-group (change)="changeGender($event)" [(ngModel)]="labelPosition"  aria-label="Select an option2">
            <mat-radio-button class="example-margin" value="all">الكل</mat-radio-button>
            <mat-radio-button class="example-margin" *ngFor="let gender of genderList" [value]="gender.genderNumber">
              {{gender.genderName}}
            </mat-radio-button>
          </mat-radio-group>

        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed text-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          الدرجة العلمية
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
        <mat-radio-group (change)="changeDegree($event)" [(ngModel)]="labelPosition2"  aria-label="Select an option">
          <mat-radio-button class="example-margin" value="all">الكل</mat-radio-button>
          <mat-radio-button class="example-margin" *ngFor="let degree of degreeList" [value]="degree.doctorDegreeId">
            {{degree.degreeName}}
          </mat-radio-button>
        </mat-radio-group>
      </div>
    </div>

  </div>
</div>
