<div class="container my-5  d-felx justify-content-center align-items-center ">
    <div class="row">
        <div class="col-md-12">
            <div class="card mainBorder m-5 p-5">
                <div class="container-fluid">
                    <div class="row mt-5">
                    
                        <div class="attinionColor rounded" [ngStyle]="{'background-color': background }">
                        <h2 class="text-center p-3 ">  {{header}} </h2>
                    </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 my-5 mx-3">
                            <img class="mx-5 my-3" src="../../../assets/Images/doctorImages/doctorImage.jpg" style="border-radius: 50%; width:80%" alt="Card image cap">
                        </div>
                        <div class="col-md-8 my-5">
                        
                            <div class="card-body my-3">
                                <h4 class="card-title ">د. محمد علاء الدين </h4>
                                <p class="card-text fs-5">استشارى جراحة الفم والفكين</p>
                           
                              </div></div>
                    </div>     
                              <br>
                    <div  class="row">
                        <div class="col-md-12">
                            <p class="spanColor bold fs-5"> عيادة الرحمة الغربية </p>
                            <p>  <fa-icon class="spanColor" [icon]="faLocationDot"></fa-icon> طنطا :شارع الجيش </p>
                      
                             
                            <br>
                            <br>
                            <p class="spanColor bold fs-5">   اسم المريض </p>
                            <p class="text-secondary">  يمنى محمد زغلول</p>
                            <br>
                            <br>
          
                            <p class="spanColor bold fs-5">  الهاتف المحمول </p>
                            <p class="text-secondary">   01125545555</p>
          
                            <br>
                            <br>
                            <p class="spanColor bold fs-5">   نوع الزيارة  </p>
                            <p class="text-secondary">   كشف</p>
                           <br>
                           <br>
                           <p class="spanColor bold fs-5">   تاريخ الحجز </p>
                           <p class="text-secondary">   الأثنين &nbsp; 6 مارس</p>
                           <p class="text-secondary">08:00 الى 02:00 مساءً</p>
                        </div>
                              
                            </div>
                        </div>
                 
                    </div>
                </div>
              </div>
</div>
  