 <div class="container my-5 mainBorder  ">

  <div class="row my-5 ">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">الرئيسية > </a></li>
        <li class="breadcrumb-item active"><a href="#">حجوزاتى</a></li>
      </ol>
    </nav>


  </div>

  <div class="row my-5 d-felx justify-content-center align-items-center">


          <div class="col-md-12">
            <div class="card border-0  mainBorder m-5 p-5">    
              
              <ul class="nav">
                <li class="nav-item" *ngFor="let menuList of menuLists ">
                  <a href="#"    
                  (click)= 'openMenuList(menuList)' 
                
                  >{{menuList}}
                </a>
                </li>
              </ul>
              <ng-container  *ngIf="selectedList === 'القادمة ' ">
                <h1>hjhxuhbuhxb</h1>
                <!-- <app-booking-cards></app-booking-cards> -->
              </ng-container>
              <ng-container *ngIf="selectedList === 'الماضية  ' ">
                <!-- <app-booking-cards></app-booking-cards> -->
              </ng-container>
              <ng-container *ngIf="selectedList === 'المطلوبة  ' ">
                <!-- <app-booking-cards></app-booking-cards> -->
              </ng-container>


                <!-- <mat-tab-group >
                  <mat-tab label="القادمة ">
                    <div class=" my-5 p-3">
                    <app-future-booking-client></app-future-booking-client>
                   </div>
                  </mat-tab>
                  <mat-tab label="الماضية ">
                    <div class=" my-5 p-3">
                      <app-future-booking-client></app-future-booking-client>
                     </div>
                  </mat-tab>
                  <mat-tab label="المطلوبة ">
                    <div class=" my-5 p-3">
                      <app-order-booking></app-order-booking>
                     </div>
                  </mat-tab>
                  
                </mat-tab-group>  

              
               <ul class="nav nav-pills nav-justified">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#"
          routerLinkActive="active"
          [routerLink]="['/future-booking-client']"
          >القادمة </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">الماضية </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">المطلوبة</a>
        </li>

      </ul> -->

</div>
</div>

              </div>

            </div>
     
  
    
          