<div class="container m-5 mainBorder  ">

    <div class="row my-5 ">
      <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">الرئيسية > </a></li>
            <li class="breadcrumb-item active"><a href="#">حجوزاتى</a></li>
          </ol>
        </nav>
  
   
    </div>

    <div class="row d-felx justify-content-center align-items-center">
    <div class=" col-sm-12  col-md-12 col-lg-12"> 
         <div class="container  d-felx justify-content-center align-items-center ">
        <div class="row">
            <div class="col-md-12">
                <div class="card mainBorder m-5 p-5">
  <div class="bgColorNav p-3">
    <ul class="nav nav-pills nav-justified">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#"
          routerLinkActive="active"
          [routerLink]="['/future-booking-client']"
          >القادمة </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">الماضية </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">المطلوبة</a>
        </li>

      </ul>


  </div>
   
    
  
  
  
  
  </div>
  
  
  