
<nav class="navbar navbar-expand-lg ">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">مستشفى الرحمة </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page"  [routerLink]="['/']"
          routerLinkActive="active"
          >الرئيسية</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            الفروع
          </a>
          <ul class="dropdown-menu">
            <li *ngFor="let hospital of hospitals">
              <a class="dropdown-item"  [routerLink]="['about-us', hospital.hospitalId]">{{hospital.name}}</a>
            </li>
          </ul>
        </li>

      </ul>
      <ul class="navbar-nav me-auto justify-content-center align-items-center" *ngIf="loggedIn">
        <li class="bell mx-2">
          <a href="#">
            <fa-icon [icon]="faBell"></fa-icon>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" 
          aria-expanded="false">
          <img class

                src="../../../assets/Images/doctorImages/doctorImage.jpg"
                style="border-radius: 50%; width: 45px"
                alt="Card image cap"
              />
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="#"
                routerLinkActive="active"
                [routerLink]="['/booking/booking-pages']">حجوزاتى 
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="#"
                routerLinkActive="active"
                [routerLink]="['/member/member-details',patientId]">ملفي الشخصي 
              </a>
            </li>
            <li>
              
              <a class="dropdown-item"  (click)="logout()">تسجيل الخروج </a>
            </li>
          </ul>
        </li>
      </ul>

      <button
        class="btn btn-outline-light btn-light py-2 text-primary"
        type="submit" (click)="login()" *ngIf="!loggedIn"
      >
        تسجيل الدخول
      </button>
    </div>

  </div>
</nav>
