<p>booking-cards works!</p>
<div class="container my-3   d-felx justify-content-center align-items-center ">
    <div class="row">
        <div class="col-md-12">
     
      <div class="card  my-3 py-4 bgCardColor  border-0  mainBorder px-4"  style="width: 100%;">
    <div class="contanier">
        <div class="row">
            <div class="col-md-2">
                <img class="mx-5 my-3" src="../../../assets/Images/doctorImages/doctorImage.jpg" style="border-radius: 50%; width:60%" alt="Card image cap">
            </div>
            <div class="col-md-7 text-end">
                <div class="card-body">
                    <h5 class="card-title mt-5">مروان محمد</h5>
                 
                    <br>
                    <br>  
                    
                 <p class="card-text">  <a  class="aUnderline generalColor" href="">تفاصيل الحجز </a></p> 
               
                  <br>

                  <h5 class="card-title">دكتور محمد علاء الدين </h5>
                  <p class="card-text">استشارى جراحة الفم والفكين</p>
                
         <p> <fa-icon class="spanColor"  [icon]="faLocationDot"></fa-icon> &nbsp;مستشفى الرحمة  </p> 
              
                   
                 <div class="reserveColor p-3  text-center">
                 
                 <p class="spanColor"> <fa-icon class="spanColor"  [icon]="faCalendarDays"></fa-icon>  &nbsp; الأحد و 7 مارس  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <fa-icon class="spanColor"  [icon]="faClock"></fa-icon> &nbsp; 8:00 صباحاً الى 2:00 مساءً  </p> 
                   </div>

                  </div>
            </div>
            <div class="col-md-3   ">
                
                <div class="acceptColor rounded">
                    <p class="text-center p-3 "> تم الموافقة على الحجز </p>
                </div>
               
            </div>
        </div>
    </div>
  
   

       </div>

  </div>
  </div>
  </div>
  <div class="container   d-felx justify-content-center align-items-center ">
    <div class="row">
        <div class="col-md-12">
     
      <div class="card  my-3 py-4 bgCardColor  border-0  mainBorder px-4"  style="width: 100%;">
    <div class="contanier">
        <div class="row">
            <div class="col-md-2">
                <img class="mx-5 my-3" src="../../../assets/Images/doctorImages/doctorImage.jpg" style="border-radius: 50%; width:60%" alt="Card image cap">
            </div>
            <div class="col-md-7 text-end">
                <div class="card-body">
                    <h5 class="card-title mt-5">مروان محمد</h5>
                 
                    <br>
                    <br>  
                    
                 <p class="card-text">  <a  class="aUnderline generalColor" href="">تفاصيل الحجز </a></p> 
               
                  <br>

                  <h5 class="card-title">دكتور محمد علاء الدين </h5>
                  <p class="card-text">استشارى جراحة الفم والفكين</p>
                
                 <p> <fa-icon class="spanColor"  [icon]="faLocationDot"></fa-icon> &nbsp;مستشفى الرحمة  </p>
              
                   
                 <div class="reserveColor p-3  text-center">
                 
                    <p class="spanColor"> <fa-icon class="spanColor"  [icon]="faCalendarDays"></fa-icon>  &nbsp; الأحد و 7 مارس  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <fa-icon class="spanColor"  [icon]="faClock"></fa-icon> &nbsp; 8:00 صباحاً الى 2:00 مساءً  </p>
                   </div>

                  </div>
            </div>
            <div class="col-md-3   ">
                
                <div class="acceptColor rounded">
                    <p class="text-center p-3 "> تم الموافقة على الحجز </p>
                </div>
               
            </div>
        </div>
    </div>
  
   

       </div>

  </div>
  </div>
  </div>