<div class="container cardStayle">
  <div class="row">
    <div class="col-sm-12 col-md-6 .col-lg-6">
      <h2>أطبائنا</h2>
    </div>
    <div class="col-sm-12 col-md-6 .col-lg-6 d-flex justify-content-end">
      <button
        type="button"
        [routerLink]="['/doctors']"
        class="btn generalBGColor text-white py-3 px-5"
      >
        عرض الكل
      </button>
    </div>
  </div>
  <div class="row my-5">
    <div class="col-md-6 col-sm-12 col-lg-4" *ngFor="let doc of doctorList">
      <div class="card border-0" style="width: 26rem">
        <a
          href="#"
          [routerLink]="['/doctor-details/' + doc.id]"
          routerLinkActive="active"
        >
          <img
            [src]="doc.photo"
            class="card-img-top"
            style="height: 35vh"
            alt="..."
          />
          <div class="card-body">
            <h5 class="generalColor text-center">{{ doc.fullName }}</h5>
            <p class="card-text text-center text-dark">{{ doc.specialId }}</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
