<div [formGroup]="form" class="bg-white p-5 text-center">
  <h3 >{{confirmMethod === 'email' ? 'تاكيد الايميل' : 'تاكيد الهاتف'}}</h3>
  <div class="form-group my-2">
    <input [class.is-invalid]="form.controls.VerificationCode.invalid && form.controls.VerificationCode.touched"
    type="text" class="form-control" placeholder="رقم التاكيد" formControlName="VerificationCode">
    <div class="invalid-feedback">
      <span *ngIf="form.controls.VerificationCode.errors?.['required']">من فضلك ادخل رقم التاكيد</span>
    </div>
  </div>


  <div class="d-grid gap-2">
    <button class="btn btn-primary" (click)="save()">ارسال</button>
  </div>
</div>
