.btnHover{
    background-color: var(--search-color);
}
.modal-dialog{
    max-width: 90rem!important;
    height: 80vh!important;
}
.form-control ,.form-select{
  background-color: rgb(58 95 171 / 12%);
  padding-bottom: 14px;
  padding-top: 14px;
border: 0;
}
.form-select {
 
  background-position: left .75rem center !important;


}
.input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    
  border-radius: 7px !important;

}
.input-group:not(.has-validation)>.dropdown-toggle:nth-last-child(n+3), .input-group:not(.has-validation)>.form-floating:not(:last-child)>.form-control, .input-group:not(.has-validation)>.form-floating:not(:last-child)>.form-select, .input-group:not(.has-validation)>:not(:last-child):not(.dropdown-toggle):not(.dropdown-menu):not(.form-floating) {
  border-radius: 7px !important;
}

  
  
.styleP{
    background-color:  #04141fe7 !important;
    margin: 3px 0;
    color: aqua;

  }
  .btnStyle{
    color:var(--main-color);
    background-color:  #099dff21;;
}