<div class="container my-5 mainBorder">
  <h3>حجوزاتي</h3>
  <div class="row my-1 d-felx justify-content-center align-items-center">
    <div class="col-md-12">
      <div class="card border-0 mainBorder m-5 p-5">
        <mat-tab-group class=" p-3"  (selectedIndexChange)="get($event)">
          <mat-tab *ngFor="let tab of tabList" [label]="tab.name" >
            <div class="container my-3 d-felx justify-content-center align-items-center">
              <div class="row" *ngFor="let book of bookingList">
                <div class="col-md-12">
                  <div
                    class="card my-3 py-4 bgCardColor border-0 mainBorder px-4"
                    style="width: 100%"
                  >
                    <div class="contanier">
                      <div class="row">
                        <div class="col-md-2">
                          <img
                            class="mx-5 my-3"
                            src="../../../assets/Images/doctorImages/doctorImage.jpg"
                            style="border-radius: 50%; width: 60%"
                            alt="Card image cap"
                          />
                        </div>
                        <div class="col-md-7 text-end">
                          <div class="card-body">
                            
                            <p class="card-text">
                              <a class="aUnderline generalColor" href=""
                              [routerLink]="['/agree-hospital']"
                                >تفاصيل الحجز
                              </a>
                            </p>
                            <h5 class="card-title">{{book.doctor}}</h5>
                            <p class="card-text">{{book.hospital}}</p>

                            <div class="reserveColor p-3 text-center">
                              <p class="spanColor">
                                <mat-icon>event_available</mat-icon>
                                {{book.visitingDate |date:'dd-MM-yyyy'}}
                                <mat-icon>schedule</mat-icon>
                                 {{book.workingPeriod}}
                              </p>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="waitColor rounded" *ngIf="book.bookingStatusId === 1">
                            <p class="text-center p-3">{{book.bookingStatus}}</p>
                          </div>
                          <div class="acceptColor rounded" *ngIf="book.bookingStatusId === 2">
                            <p class="text-center p-3">{{book.bookingStatus}}</p>
                          </div>
                          <div class="refuseColor rounded" *ngIf="book.bookingStatusId === 3">
                            <p class="text-center p-3">{{book.bookingStatus}}</p>
                          </div>
                          <div class="finishColor rounded" *ngIf="book.bookingStatusId === 4">
                            <p class="text-center p-3">{{book.bookingStatus}}</p>
                          </div>
                          <div class="pending rounded" *ngIf="book.bookingStatusId === 5">
                            <p class="text-center p-3">{{book.bookingStatus}}</p>
                          </div>
                        </div>
                        <button class="btn btn-danger" *ngIf="book.bookingStatusId !== 3" (click)="del(book.id)">الغاء الحجز</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>
