<footer class="site-footer text-white ">
    <div class="container">
        <!-- <div class="row">

            <div class="col-sm-12 col-md-6">
                <div class="container">
                    <div class="row">
                     <div class="col-sm-12 col-md-4">
                        <p class=" bold fs-5"> {{"Elrahma-hos"|translate}}</p>
                         <a
                          class="nav-link"
                          routerLinkActive="active"
                          routerLink="['/about-us']"
                          >من نحن </a>


                           <ul class="social-icons ">

                            <li><a class="facebook" href="#">
                                    <i class="fa-brand fa-fb"></i>
                                </a></li>

                                <li><a class="twitter" href="#">
                                  <i class="fa-brand fa-twitter"></i>

                                </a></li>

                            <li><a class="instagram" href="#">
                              <i class="fa-brand fa-instagram"></i>

                                </a></li>

                            </ul>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <p class="bold   fs-5">{{"search"|translate}}</p>
                        <p>{{"specialty"|translate}} </p>
                        <p>{{"doctors"|translate}}</p>
                        <p>{{"places"|translate}}</p>
                    </div>
                    <div class="col-sm-12 col-md-4">
                         <p class="bold  fs-5">{{"services"|translate}} </p>
                            <p>تحاليل </p>
                            <p>{{"x-rays"|translate}} </p>
                    </div>
                    </div>
                    </div>


            </div>



            <div class="col-xs-6 col-md-6   ">
                <p>{{"news"|translate}}</p>

       <div class="contanier bg-white mainBorder py-2 px-4 boxWidth ">
        <div class="row ">
            <div class="col-md-2 pt-1 ps-1">
            </div>
            <div class="col-md-6 pt-1">
                <div class="input-group flex-nowrap">

                    <input type="email" class="form-control placeholderColor" [placeholder]="'email'|translate " aria-label="Username" aria-describedby="addon-wrapping">
                  </div>
            </div>
            <div class="col-md-4 pt-1">
                <button type="button" class="btn bgColor text-white py-2 px-5 ">{{"join"|translate}} </button>
            </div>
        </div>



</div>

            </div>
        </div>
        <hr> -->

    <div class="container text-white">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <p class=" text-center"> &copy; جميع حقوق الطبع محفوظة لدى
                     <a class="text-white fs-6" href="/">مستشفى الرحمة</a>.
                </p>
            </div>

        </div>
    </div>
    </div>
</footer>
