<div class="card  my-3 py-4  mainBorder px-4"  style="width: 100%;" *ngFor="let doctor of doctors">
    <div class="contanier">
        <div class="row">
            <div class="col-md-2">
                <img class="mx-5 my-3" [src]="imgUrl + 'small/' +doctor?.doctor?.photo ? doctor?.doctor?.photo : '/assets/Images/doctorImages/doctorImage.jpg'" style="border-radius: 50%; width:70%" alt="Card image cap">
            </div>
            <div class="col-md-8 text-end">
                <div class="card-body">
                    <h5 class="card-title">{{"doctor"|translate}}  {{doctor.doctor.doctorTranslations[0].fullName }} </h5>
                    <p class="card-text">{{doctor.doctor.doctorTranslations[0].headline}}</p>

                    <div class="mt-1  ">
                      <div>
                          <!-- <fa-icon class="ratingColor" [icon]="faStar"></fa-icon>
                          <fa-icon class="ratingColor" [icon]="faStar"></fa-icon>
                          <fa-icon class="ratingColor" [icon]="faStar"></fa-icon>
                          <fa-icon class="ratingColor" [icon]="faStar"></fa-icon>
                          <fa-icon class="ratingColor" [icon]="faStar"></fa-icon> -->
                      </div>
                  </div>
                  <br>
                  <p> {{doctor.doctor.doctorTranslations[0].about}} </p>
                  <p class="spanColor"> {{"period"|translate}} : {{doctor.doctorWorkPeriod.workingPeriod}} </p>
                  <!-- <p>  <fa-icon class="spanColor"  [icon]="faLocationDot"></fa-icon> طنطا :شارع الجيش </p>
                  <p>   <fa-icon class="spanColor" [icon]="faDollarSign"></fa-icon>   الكشف :<span class="spanColor">   300 فرنك  </span></p> -->
                  </div>
            </div>
            <div class="col-md-2 d-flex align-items-end  ">

                <a [routerLink]="['/doctor/AppointmentBooking',doctor.doctor.id,doctor.doctorWorkPeriod.hospitalId,doctor.doctorWorkPeriod.workingPeriodId,selectedDate|date:'YYYY-MM-dd']" class="btn generalBGColor text-white  px-5 mb-4 ">
                    {{"book"|translate}}
                </a>


            </div>
        </div>
    </div>



  </div>
