/* .carousel-indicators [data-bs-target]{
    background-color: var(--search-color) ;
    border-radius: 50%;
    width: 10px;
    height: 10px;
} */
.carousel-caption{
    background-color: #00000061;
    padding:1rem
}