
  <carousel [(activeSlide)]="activeSlideIndex" >
    <slide *ngFor="let slide of promtion| orderBy: 'position'">
      <ng-container >
        <img [src]="imgUrl + 'medium/'+slide.photo" alt="image slide" style="display: block; width: 100%;height:80vh">

      <div class="carousel-caption">
        <h1>{{slide.promotionsTranslations[0]?.title}}</h1>
        <p>{{slide.promotionsTranslations[0]?.description}}</p>
        <app-search (FilterChange)="filterChange($event)"></app-search>
      </div>
      </ng-container>
      
    </slide>
  </carousel>
  <br/>
  <div>
