<div class="container my-5  d-felx justify-content-center align-items-center ">
    <div class="row">
        <div class="col-md-12">
            <div class="card mainBorder m-5 p-5">
                <div class="container-fluid">
                  
                    <div class="row  ">
                        <div class="col-md-2 col-sm-12 col-lg-3 my-5 ">
                            <img class=" my-3" src="../../../assets/Images/doctorImages/doctorImage.jpg" style="border-radius: 50%; width:70%" alt="Card image cap">
                        </div>
                        <div class="col-md-7 col-sm-12 col-lg-6 my-5">
                                <h4 class="mt-5 text-end"> {{patient.name}} </h4>
                            
                           
                              </div>
                              
                              <div class="col-md-3 col-sm-12 col-lg-3 my-5 me-auto " >
                                 <button class="btn px-3  generalBGColor text-white fs-5 btnHover mt-5 ">تعديل</button>
                              </div>
                    </div>     
                              <br>
                    <div  class="row">
                        <div class="col-md-12">
                        
                            <p class=" bold fs-4">   اسم العضو  </p>
                            <p class="text-black-50">    {{patient.name}}</p>
                            <br>
                            <br>
          
                            <p class=" bold fs-4">  رقم  التليفون  </p>
                            <p class="text-black-50">   01125545555</p>
          
                            <br>
                            <br>
                            <p class=" bold fs-4"> السن   </p>
                            <p class="text-black-50">   33</p>
                           <br>
                           <br>
                           <p class=" bold fs-4">   العنوان  </p>
                           <p class="text-black-50">  <fa-icon class="spanColor" [icon]="faLocationDot"></fa-icon> طنطا :شارع الجيش </p>
                           <br>
                           <br>
                           <p class=" bold fs-4"> رقم الواتس    </p>
                           <p class="text-black-50">   452155155433</p>
                           <br>
                           <br>
                           <p class=" bold fs-4"> البريد الالكترونى    </p>
                           <p class="text-black-50">   marwan@gmail.com</p>
                
                        </div>
                              
                            </div>
                            <div class="row d-felx justify-content-end">
                                <div class="col-md-2 col-sm-6 col-lg-2">
                                    <button class="btn btn-danger"
                                    >  حذف العضو </button>
                                </div>
                              
                            </div>
                        </div>
                 
                    </div>
                </div>
              </div>
</div>
  