<nav class="navbar navbar-expand-lg navcolor">
  <div class="container-fluid navcontent">
    <a class="navbar-brand text-white" href="#">مستشفى الرحمة </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse d-flex justify-content-around"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link active text-white"
            aria-current="page"
            routerLinkActive="active"
            aria-current="page"
            [routerLink]="['/']"
            [routerLinkActiveOptions]="{ exact: true }"
            >الرئيسية</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#">التخصصات</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-white"
            href="#"
            routerLinkActive="active"
            [routerLink]="['/doctors']"
            >الأطباء</a
          >
        </li>

        <li class="nav-item">
          <a class="nav-link text-white" href="#">الخدمات</a>
        </li>

        <!-- <li class="nav-item">
          <a
            class="nav-link text-white"
            href="#"
            routerLinkActive="active"
            [routerLink]="['/doctor-details']"
            >تفاصيل الدكتور</a
          >
        </li> -->
        <li class="nav-item">
          <a
            class="nav-link text-white"
            href="#"
            routerLinkActive="active"
            [routerLink]="['/reservation-confirm']"
          >
            تأكيد الحجز</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-white"
            href="#"
            routerLinkActive="active"
            [routerLink]="['/agree-hospital']"
          >
            موافقة المستشفى</a
          >
        </li>
        <!-- <li class="nav-item">
          <a
            class="nav-link text-white"
            href="#"
            routerLinkActive="active"
            [routerLink]="['/disagree-hospital']"
          >
            رفض المستشفى</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-white"
            href="#"
            routerLinkActive="active"
            [routerLink]="['/agree-client']"
          >
            موافقة العميل</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-white"
            href="#"
            routerLinkActive="active"
            [routerLink]="['/disagree-client']"
          >
            رفض العميل</a
          >
        </li> -->
        <li class="nav-item">
          <a
            class="nav-link text-white"
            href="#"
            routerLinkActive="active"
            [routerLink]="['/booking-by-client']"
          >
            حجز العميل</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-white"
            href="#"
            routerLinkActive="active"
            [routerLink]="['/booking-by-patient']"
          >
            حجز المريض</a
          >
        </li>
        <!-- <li class="nav-item">
          <a
            class="nav-link text-white"
            href="#"
            routerLinkActive="active"
            [routerLink]="['/list-of-patient']"
          >
            كل المرضى</a
          >
        </li> -->
      </ul>
    
      
      <form class="d-flex justify-content-center align-items-center" role="search">
        <ul class="my-3 mx-2">
          <li class="bell mx-2">
            <a href="#">
              <fa-icon [icon]="faBell"></fa-icon>
            </a>
          </li>
          <li>
            <div class="dropdown">
              <a
            
                data-bs-toggle="collapse"
                 href="#collapseExample" 
                 role="button" 
                 aria-expanded="false" 
                 aria-controls="collapseExample"
              >
                <img
                  src="../../../assets/Images/doctorImages/doctorImage.jpg"
                  style="border-radius: 50%; width: 45px"
                  alt="Card image cap"
                />
              </a>
              <div class="collapse" id="collapseExample">
              <ul class="dropdown-menu  d-felx flex-column text-end ">
                <li><a class="dropdown-item" href="#"
                  routerLinkActive="active"
                  [routerLink]="['/booking-clients-page']">حجوزاتى </a></li>
                <li>
                  <li><a class="dropdown-item" href="#"
                    routerLinkActive="active"
                    [routerLink]="['/members']">الأعضاء </a></li>
                  <li>
                  <a class="dropdown-item" href="#">تسجيل الخروج </a>
                </li>
              </ul>
              </div>
            </div>
          </li>
        </ul>
   
        <button
          class="btn btn-outline-light btn-light py-2 text-primary"
          type="submit"
        >
          تسجيل الدخول
        </button>
      </form>
    </div>
  </div>
</nav>
