<div class="container">
    <div class="row">
      <app-search></app-search>
    </div>
    <div class="row my-5">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">الرئيسية  </a></li>
          <li class="breadcrumb-item "><a href="#">الأطباء </a></li>
          <li class="breadcrumb-item active"><a href="#"> دكتور محمد على  </a></li>
        </ol>
      </nav>
  <app-special-card-doctor> </app-special-card-doctor>

   
    </div>
    <div class="row">
      <app-reservation-details></app-reservation-details>
    </div>