<div class="container-fluid">
  <mat-card class="example-card">
    <mat-card-header class="justify-content-center text-bold ">
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title >{{hospital.hospitalTrasnlations[0]?.name}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image class="main-img" [src]="hospital.photo ? imgUrl + 'small/' + hospital.photo : '/assets/Images/hospital.jpg'" alt="Photo">
    <mat-card-content>
      <p class="p-3 mt-5">
        {{(hospital.hospitalTrasnlations[0]?.description || hospital.hospitalTrasnlations[0]?.description !== 'null') ? hospital.hospitalTrasnlations[0]?.description :'لا يوجد تفاصيل'}}
      </p>

    </mat-card-content>
    <div class="feature">
      <h3 class="text-center my-3" *ngIf="hospitalFeature.length > 0">{{"features"|translate}} </h3>
      <div class="row m-2">
        <div class="col-md-4" *ngFor="let fet of hospitalFeature">
          <mat-card class="example-card feature-content">
            <mat-card-header>
              <mat-card-title-group>
                <mat-card-title>{{fet.hospitalFeatureTranslations[0].name}}</mat-card-title>
                <img mat-card-sm-image [src]="fet.photo ? imgUrl+ 'small/' + fet.photo : '/assets/Images/hospital.jpg'" >
              </mat-card-title-group>
            </mat-card-header>
            <mat-card-content class="p-3">
              {{fet.hospitalFeatureTranslations[0]?.description}}
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>

  </mat-card>
</div>
