.attinionColor{
    background-color: rgba(88, 143, 210, 0.274);
    border: var(--main-border);

}
.appimentColor{
    background: #00000029;
}

.input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    
    border-radius: 7px !important;
  
}
.input-group:not(.has-validation)>.dropdown-toggle:nth-last-child(n+3), .input-group:not(.has-validation)>.form-floating:not(:last-child)>.form-control, .input-group:not(.has-validation)>.form-floating:not(:last-child)>.form-select, .input-group:not(.has-validation)>:not(:last-child):not(.dropdown-toggle):not(.dropdown-menu):not(.form-floating) {
    border-radius: 7px !important;
}
.form-select {
    background-position: left .75rem center !important;
}