<div class="search mt-5 py-2">

  <div class="container-fluid  ">
    <div class="row">


      <div class="col-md-3 mt-2">
        <mat-form-field appearance="fill">
          <mat-label> كل المستشفيات </mat-label>
          <mat-select (valueChange)="selectHospital($event)">
            <mat-form-field class="example-full-width">
       
              <input matInput 
                  [(ngModel)]="searchInput"
              (ngModelChange)="searchHospital($event)"
               placeholder="مستشفى الرحمة " >
            </mat-form-field>
            <mat-option *ngFor="let hospital of hospitalFilter" 
            [value]="hospital.id">
              {{hospital.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!-- <h4>Basic native select</h4> -->
        <!-- <mat-form-field appearance="fill">
          <mat-label>Cars</mat-label>
          <select matNativeControl required>
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="mercedes">Mercedes</option>
            <option value="audi">Audi</option>
          </select>
        </mat-form-field> -->
        <!-- <div class="dropdown ">
            <a class="btn  dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
             كل المستشفيات
     
            </a>
            <hr class=" hrWidth1 text-white mt-0 ">
         
            <ul class="dropdown-menu px-3  dropdown-menu-end text-end">
              <li>   <div class="mb-3 mx-3">
                <input type="text" class="form-control" id="exampleDropdownFormEmail2" placeholder="مستشفى الرحمة">
              </div></li>
              <li><a class="dropdown-item" href="#">مستشفى الرحمة</a></li>
              <li><a class="dropdown-item" href="#">مستشفى القادسية</a></li>
              <li><a class="dropdown-item" href="#">مستشفى الحياة</a></li>
            </ul>
          </div> -->
      </div>

      <div class="col-md-3 mt-2">
        <mat-form-field appearance="fill">
          <mat-label> كل التخصصات</mat-label>
          <mat-select (valueChange)="selectSpecial($event)">
            <mat-form-field class="example-full-width">
            
              <input matInput   [(ngModel)]="searchInput"
              (ngModelChange)="searchSpecialty($event)"
              placeholder="جراحة عامة">
            </mat-form-field>
            <mat-option *ngFor="let special of spialtiesFilter" [value]="special.id">
              {{special.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <!-- <div class="dropdown  px-2">
          <a class="btn  dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            كل التخصصات

          </a>
          <hr class=" hrWidth1 text-white mt-0 ">
          <ul class="dropdown-menu px-2 dropdown-menu-end text-end">
            <li>
              <div class="mb-3 mx-3">
                <input type="text" class="form-control" id="exampleDropdownFormEmail2" placeholder="انف وأذن وحنجرة">
              </div>
            </li>
            <li><a class="dropdown-item" href="#">جراحة عامة</a></li>
            <li><a class="dropdown-item" href="#">قلب واوعية دموية </a></li>
            <li><a class="dropdown-item" href="#">مسالك بولية </a></li>
          </ul>
        </div> -->
      </div>


      <div class="col-md-3 mt-2 text-white">
        <div class="dropdown ">
          <a class="btn  dropdown-toggle text-white " href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            كل الأطباء

          </a>
          <hr class=" hrWidth  mt-0 ">


          <ul class="dropdown-menu dropdown-menu-end text-end">
            <li>
              <div class="mb-3 mx-3">
                <input type="text" class="form-control" id="exampleDropdownFormEmail2" placeholder="على الشافعى ">
              </div>
            </li>
            <li><a class="dropdown-item" href="#">محمد على </a></li>
            <li><a class="dropdown-item" href="#">أحمد حسن</a></li>
            <li><a class="dropdown-item" href="#">رامى يوسف</a></li>
          </ul>

        </div>

      </div>

      <div class="col-md-3 mt-3 ">
        <form class="d-flex justify-content-end " role="search">
          <button class="btn btn-outline-light btn-light text-primary  px-5" type="submit">ابحث</button>
        </form>
      </div>
    </div>
    <!-- <div class="row ">
          <div class="col-md-3">
          <hr class="text-white">
          </div>
          <div class="col-md-3">
            <hr class="text-white">
            </div>
            <div class="col-md-3">
              <hr class="text-white">
              </div>

        </div> -->
  </div>


</div>