
<div class="card mainBorder m-5 p-5">
    <div class="contanier">
        <div class="row">
            <h2 class=" generalColor text-center p-5 ">تأكيد حجز الموعد</h2>
            <div class="col-md-2">
                <img class="mx-5 my-3" src="../../../assets/Images/doctorImages/doctorImage.jpg" style="border-radius: 50%; width:70%" alt="Card image cap">
            </div>
            <div class="col-md-8">
            
                <div class="card-body my-3">
                    <h5 class="card-title bold">دكتور محمد علاء الدين </h5>
                    <p class="card-text">استشارى جراحة الفم والفكين</p>
               
                  <br>
                   <div class="reserveColor p-5 m-4 text-center">
                    <p class="bold fs-5 generalColor">موعدك في العيادة </p>
                    <p>الاثنين  <span class="spanColor ">6 مارس</span >   &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span class="fSize">8:00 صباحاً الى 2:00 مساءً </span>  </p>
                   </div>
                  <p class="spanColor bold fs-5"> عيادة الرحمة الغربية </p>
                  <p>  <fa-icon class="spanColor" [icon]="faLocationDot"></fa-icon> طنطا :شارع الجيش </p>
                  <p>   <fa-icon class="spanColor" [icon]="faDollarSign"></fa-icon>  الكشف: <span class="spanColor">   300 فرنك  </span></p>
                   
                  <br>
                  <br>
                  <div class="d-grid gap-2">
                
                    <button   [routerLink]="['/agree-client']"  class="btn generalBGColor text-white">
                        تأكيد الحجز 

                    </button>
                    <button class="btn btn-light mb-5">
                        إلغاء الحجز 

                    </button>
                  </div>
                  
                  </div>
            </div>
     
        </div>
    </div>
  </div>