<div
  class="modal fade"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog  modal-dialog-centered">
    <div class="modal-content m-5">
      <div class="modal-header">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
        <h1
          class="modal-title fs-3 generalColor m-auto"
          id="staticBackdropLabel"
        >
          اضافة مشترك
        </h1>
      </div>
      <div class="modal-body mx-5">
        <form class="row my-5 g-3">
          <div class="col-md-2 mb-3 text-start">
            <label for="validationServer01" class="form-label">المجموعة </label>
          </div>
          <div class="col-md-9 mb-3">
            <input
              type="text"
              class="form-control py-3"
              id="validationServer01"
              value=""
              required
            />
          </div>
          <div class="col-md-2 mb-3 text-start">
            <label for="validationServer01" class="form-label"
              >اسم المشترك
            </label>
          </div>
          <div class="col-md-9 mb-3">
            <input
              type="text"
              class="form-control  py-3"
              placeholder="ادخل اسم المشترك "
              id="validationServer01"
              value=""
              required
            />
            <div class="valid-feedback">Looks good!</div>
          </div>
          <div class="col-md-2 mb-3 text-start">
            <label for="validationServer01" class="form-label">العنوان </label>
          </div>
          <div class="col-md-9 mb-3">
            <input
              type="text"
              placeholder="ادخل العنوان"
              class="form-control py-3 "
              id="validationServer01"
              value=""
              required
            />
            <div class="valid-feedback">Looks good!</div>
          </div>
          <div class="col-md-2 mb-3 text-start">
            <label for="validationServer01" class="form-label">السن</label>
          </div>
          <div class="col-md-9 mb-3">
            <input
              type="number"
              placeholder="ادخل السن "
              class="form-control py-3"
              id="validationServer01"
              value=""
              required
            />
            <div class="valid-feedback">Looks good!</div>
          </div>
          <div class="col-md-2 mb-3 text-start">
            <label for="validationServer01" class="form-label"
              >رقم التليفون</label
            >
          </div>
          <div class="col-md-9 mb-3">
            <input
              type="number"
              class="form-control py-3"
              placeholder="ادخل رقم الهاتف"
              id="validationServer01"
              value=""
              required
            />
            <div class="valid-feedback">Looks good!</div>
          </div>
          <div class="col-md-2 mb-3 text-start">
            <label for="validationServer01" class="form-label"
              >رقم الواتس
            </label>
          </div>
          <div class="col-md-9 mb-3">
            <input
              type="number"
              placeholder="ادخل رقم الواتس "
              class="form-control py-3"
              id="validationServer01"
              value=""
              required
            />
          </div>
          <div class="col-md-2 mb-3 text-start">
            <label for="validationServer01" class="form-label"
              >البريد الالكترونى
            </label>
          </div>
          <div class="col-md-9 mb-3">
            <input
              type="e-mail"
              placeholder="ادخل البريد الالكترونى "
              class="form-control py-3"
              id="validationServer01"
              value=""
              required
            />
          </div>

          <div class="col-11  mb-3 text-start">
            <button
              class="btn text-white px-5 py-2 btnHover generalBGColor"
              type="submit"
            >
              اضافة
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
