<div [formGroup]="form" class="row bg-white p-5">
  <h3 class="fs-2 fw-bold"> {{'enter_data' | translate}} </h3>
  <div class="col-lg-6 col-12">
    <div class="form-group my-2">
      <label for="example-search-input" class="text-base-color text-bold mb-2">{{'name'|translate}} </label>
      <input [class.is-invalid]="form.controls.FullName.invalid && form.controls.FullName.touched"
        class="form-control" type="text" formControlName="FullName" />
    </div>
  </div>
  <div class="col-lg-6 col-12">
    <div class="form-group my-2">
      <label for="example-search-input" class="text-base-color text-bold mb-2">{{"name_en"|translate}}<span class="text-danger">*</span> </label>
      <input [class.is-invalid]="form.controls.FullNameEn.invalid && form.controls.FullNameEn.touched"
        class="form-control" type="text" formControlName="FullNameEn"/>
      <div class="invalid-feedback">
        <span *ngIf="form.controls.FullNameEn.errors?.['required']">من فضلك ادخل الاسم</span>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-12">
    <div class="form-group my-2">
      <label for="example-search-input" class="text-base-color text-bold  mb-2">{{"address"|translate}} </label>
      <input [class.is-invalid]="form.controls.Address.invalid && form.controls.Address.touched"
        class="form-control" type="text" formControlName="Address"  />
    </div>
  </div>
  <div class="col-lg-6 col-12">
    <div class="form-group mb-3">
      <label for="example-search-input" class="text-base-color text-bold mb-2">{{"sex"|translate}}<span class="text-danger">*</span> </label>
      <ng-select class="d-block pr-3 my-2" [multiple]="false" [items]="genders" formControlName="Gender"
          bindValue="genderId" bindLabel="name" appDebounceInputChange
          [class.is-invalid]="form.controls.Gender.invalid && form.controls.Gender.touched">
      </ng-select>
      <div class="invalid-feedback">
        <span *ngIf="form.controls.Gender.errors?.['required']">من فضلك ادخل النوع</span>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-12">
    <div class="form-group mb-3">
      <label  for="example-search-input" class="text-base-color text-bold d-block mb-2">{{"birthDate"|translate}}<span class="text-danger">*</span> </label>
      <input formControlName="BirthDate" class="form-control border-right-0"
          placeholder="dd-mm-yyyy" name="dp" ngbDatepicker #d="ngbDatepicker" autocomplete="off"
          (click)="d.toggle()" >
      <button class="btn btn-outline-primary calendar rounded-0 rounded-right border-left-0 py-0"
          (click)="d.toggle()" type="button">
          <i class="fa-solid fa-calendar-days"></i>
      </button>
      <div class="invalid-feedback">
        <span *ngIf="form.controls.BirthDate.errors?.['required']">من فضلك ادخل تاريخ الميلاد</span>
      </div>
  </div>
  </div>
  <div class="col-lg-6 col-12">
    <div class="form-group mb-3">
      <label for="example-search-input" class="text-base-color text-bold mb-2">{{"marital"|translate}}
        <span class="text-danger">*</span> </label>
      <ng-select class="d-block pr-3 my-2" [multiple]="false" [items]="MaritalStatus" formControlName="MaritalStatus"
          bindValue="maritalId" bindLabel="name" appDebounceInputChange [class.is-invalid]="form.controls.MaritalStatus.invalid && form.controls.MaritalStatus.touched">
      </ng-select>
      <div class="invalid-feedback">
        <span *ngIf="form.controls.MaritalStatus.errors?.['required']">من فضلك ادخل الحالة الاجتماعية</span>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-12">
    <div class="form-group mb-3">
      <label for="example-search-input" class="text-base-color text-bold mb-2"> {{"nationality"|translate}}<span class="text-danger">*</span> </label>
      <ng-select class="d-block pr-3 my-2" [multiple]="false" [items]="nationality" formControlName="NationalityId"
          bindValue="nationalityId" bindLabel="name" appDebounceInputChange [class.is-invalid]="form.controls.NationalityId.invalid && form.controls.NationalityId.touched">
      </ng-select>
      <div class="invalid-feedback">
        <span *ngIf="form.controls.NationalityId.errors?.['required']">من فضلك ادخل  الجنسية</span>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-12">
    <div class="form-group mb-3">
      <label for="example-search-input" class="text-base-color text-bold  mb-2"> {{"religion"|translate}}</label>
      <ng-select class="d-block pr-3 my-2" [multiple]="false" [items]="religions" formControlName="Religion"
          bindValue="religionId" bindLabel="name" appDebounceInputChange >
      </ng-select>
    </div>
  </div>
  <div class="col-lg-6 col-12">
    <div class="form-group my-2">
      <label for="example-search-input" class="text-base-color text-bold  mb-2"> {{"blood_type"|translate}} </label>
      <input [class.is-invalid]="form.controls.BloodType.invalid && form.controls.BloodType.touched"
        class="form-control" type="text" formControlName="BloodType"  />
    </div>
  </div>

  <div class="d-grid gap-2">
    <button class="btn btn-primary" (click)="save()" [disabled]="form.invalid">{{"save"|translate}}</button>
  </div>
</div>

