<div class="card  my-3"  style="width: 100%;">
    <div class="contanier">
        <div class="row">
         <div class="col-md-3">
            <h3 class="p-3 me-2">المستشفى:</h3>
         </div>
          <div class="col-md-9 p-3 ">


            <button class="btn btn-primary btn-primary text-white generalBGColor p-3 mx-4">مستشفى الرحمة </button>
            <button class="btn btn-primary  mx-4">مستشفى الرحمة </button>
            <button class="btn btn-primary  mx-4">مستشفى الرحمة </button>
            <button class="btn btn-primary  mx-4">مستشفى الرحمة </button>
    

          </div>
         
            </div>

            <div class="row">
                    
            </div>
            <div class="row"> 
                <div class="col-12 d-flex justify-content-center">

                    <button class="btn btn-primary text-white generalBGColor m-5  fs-2 btnWidth" >التالى </button>
                </div>
 
            </div>
           </div>
       
        </div>

