<div class="contanier bg-white mainBorder">
 <div class="row  d-felx justify-content-center align-items-center">
  <div class=" col-lg-6 col-md-6 col-sm-6  ">
    <nav aria-label="..." class="py-4 my-3  ">
      <ul class="pagination">
        <li class="page-item ">
          <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&lt;</span>
            </a>
        </li>
        <li class="page-item active"><a class="page-link" href="#">مارس 2023</a></li>
        
        <li class="page-item">
          <a class="page-link generalColor" href="#" aria-label="Next">
              <span aria-hidden="true">&gt;</span>
            </a>
        </li>
      </ul>
    </nav>
  
  </div>

 </div>
   

<div class="row">


    <owl-carousel-o [options]="customOptions">
      <div class="col-md-3 col-lg-3 col-sm-12">
        <div
          class="card cardStyle overflow-hidden"
          style="width: 18rem; height: 20rem"
        >
          <!-- <img src="{{ item.cover }}" class="card-img-top" alt="cityCard" />
          <div class="card-body">
            <h5 class="card-title">{{ item.name }}</h5>

            <a routerLink="/city/{{ item._id }}" class="btn btnStyle"
              >see more</a
            > -->
          <!-- </div> -->
        </div>
   
      </div>
    
      <ng-template carouselSlide>Slide 1</ng-template>  
      <ng-template carouselSlide>Slide 2</ng-template>  
      <ng-template carouselSlide>Slide 3</ng-template>  
      <ng-template carouselSlide>Slide 1</ng-template>  
      <ng-template carouselSlide>Slide 2</ng-template>  
      <ng-template carouselSlide>Slide 3</ng-template> 
      <ng-template carouselSlide>Slide 1</ng-template>  
      <ng-template carouselSlide>Slide 2</ng-template>  
      <ng-template carouselSlide>Slide 3</ng-template> 
    </owl-carousel-o>
    


</div>